#faqs dt, #faqs dd { padding: 0 0 65px 50px }
#faqs dt { font-size:1.5em; color: #9d9d9d; cursor: pointer; height: 37px; line-height: 37px; margin: 0 0 15px 25px}
#faqs dd { font-size: 1em; margin: 0 0 20px 25px}
#faqs dt { background: url(/inc/themes/faq/faq_pics/expand-icon.png) no-repeat left}
#faqs .expanded { background: url(/inc/themes/faq/faq_pics/expanded-icon.png) no-repeat left}