body {
  font-family: sans-serif;
  margin: 1em;
}

.controls {
  margin: 1em 0 1em 1em;
  font-weight: bold;
}

a.call {
  display: inline-block;
  margin: 1em 2em 1em 0;
  color: #000;
}

a.call:hover {
  color: inherit;
}

a.hang-up {
  display: block;
  visibility: hidden;
  font-weight: bold;
}
