div.dataTables_length {
    padding-left: 2em;
    }
    div.dataTables_length,
    div.dataTables_filter {
        padding-top: 0.55em;
    }

    
table.dataTable tbody tr.selected {
    color: black !important;
    background-color: #e6fafc !important;
}