     .list-group {
     
     margin:auto;
     float:left;
     padding-top:20px;
    }
    .lead {
     
     margin:auto;
     left:0;
     right:0;
     padding-top:10%;
    }
    
    a[href^="tel:"] {
      color: white;
      text-decoration: none;
    }



